<div class="card">
  <header class="card-header">
    <h3 class="col p-6">{{title}}</h3>
    <h6 class="col p-2" data-id="{{user.id}}">{{user.name}} | {{format_date date_created}}</h6>
  </header>
  <p class="card-body">{{article}}</p>
  {{#if logged_in}}
  {{#if (eq user.id logged_in.id)}}
  <div class="card-footer">
    <button class="btn btn-sm btn-primary" data-id="{{id}}">UPDATE</button>
    <button class="btn btn-sm btn-danger" data-id="{{id}}">DELETE</button>
  </div>
  {{/if}}
  {{/if}}
</div>

<form class="card form new-comment-form">
  <h4 class="card-header">Leave a comment</h4>
  <div class="form-group">
    <div class="card-body">
      <input class="form-input form-input-squared" type="text" id="comment-box" name="comment-box" />
    </div>
    <div class="card-footer">
      <button type="submit" class="btn btn-primary" data-id="{{id}}">COMMENT</button>
    </div>
  </div>